module.exports = {
  "host": "0.0.0.0",
  "port": 8080,

  "ss_engines": {
    "dtmf-ss": {
      "module": "dtmf-generation-stream",
      "config": {},
    },
    "google-ss": {
      "module": "google-speech-synth-stream",
      "config": {
        "work_dir": "./tmp",
      },
    },
    "bfsk-ss": {
      "module": "bfsk-speech-synth-stream",
      "config": {},
    },

  },
  "sr_engines": {
    "dtmf-sr": {
      "module": "dtmf-detection-stream",
      "config": {},
    },
    "google-sr": {
      "module": "google-speech-recog-stream",
      "config": {},
    },
    "bfsk-sr": {
      "module": "bfsk-speech-recog-stream",
      "config": {},
    },
  },
}

